 <nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
           
      <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle class=" nav-link dropdown-toggle" href=# id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By Name</a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
          <a class="dropdown-item" RouterLink="/NameA-Z">Name A-Z</a>
          <a class="dropdown-item" RouterLink="/Namea-z">Name a-z</a>
          <a class="dropdown-item" RouterLink="/up-rank">Rank Up</a>
          <a class="dropdown-item" RouterLink="/down-rank">Rank Down</a>
        </div>
      </li>
    </ul>
  </div>
 <input (keyup.enter)="createUserData(title)" #title type="text" class="form-control" placeholder="Search..">
</nav>

<div>
     
<ul class="list-group">
  <li
  *ngFor = "let user of users.items"
  class="list-group-item" >
 <div> <img class="rounded-circle" src={{user.avatar_url}} width="80" height="80"> 
</div>
 <div>
   <b>{{user.login}}</b><br> 
   Profile: {{user.url}}<br>
<a class="btn btn-primary" (click)="createDetails(user.login)" role="button">Details »</a>
<ul class="list-group">
    <li
    *ngFor = "let repository of Repos"
    class="list-group-item" >
    {{repository.description}}</li>
    </ul>
</div>

  </li>
 
</ul>

</div>